$metalBlue: #4D5EA6;
$background: #F6F8F7;
$pGrey: #686A69;

body {
  background-color: $background;
}
.row  {
  padding: 1em 0px;
}

h1 {
  color: $metalBlue;
}
h2 {
  color: $metalBlue;
  text-align: center;
}
p {
  color: $pGrey;
}

.testimonialsOuter {
  background-color: #EAECE7;

button {
  background-color: #E12C33;
  color: white;
  border-radius: 8px;
  border-style: solid;
}
.map {
  pointer-events: none;
}

.logo {
  width: 60px;
  height: auto;
  display: inline-block;
}

.brandname {
  display: inline-block;;
}

#carousel {
  position: relative;
  height: 400px;
  overflow: auto;
  padding-right: 0px;
  padding-left: 0px;

  ul {
    list-style: none;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }

  li {
    position: absolute;
    display: none;
  }

  li.active {
    display: inline-block;
  }

  .prev, .next {
    background: gray;
    z-index: 200;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    font-weight: bold;
    border-radius: 10px;
  }

  .prev a, .next a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
  }

  .prev {
    left: 5px;
  }

  .next {
    right: 5px;
  }
}

// iframe {
//   margin: 0;
//   padding: 0;
// }
.socialIcons {
  float: right;
}

footer {
  margin: 0;
  text-align: center;
  padding: 5px 0;
  background-color: $metalBlue;
  p {
    color: $background;

  }
}
